---
import Section from "./Section.astro";
---

<Section title="Accesorios" color="black" showFooterContent="true">
  <div slot="footer">
    <a
      class="bg-white text-sm rounded font-medium px-16 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="#"
    >
      Compra ahora</a
    >
  </div>

  <img
    slot="background"
    src="/accesorios.avif"
    alt="Model X"
    class="h-full w-full object-cover object-center"
  />
</Section>
