---
import Section from "./Section.astro";
---

<Section
  title="Energía solar y Powerwall"
  subtitle="Totalmente eléctrico"
  color="black"
>
  <div slot="footer">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-16 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Más información</a
    >
  </div>

  <img
    slot="background"
    src="/solar-powerwall.avif"
    alt="Model X"
    class="h-full w-full object-cover object-center"
  />
</Section>
